.vscode
docs/
Test/bin
Test/obj
Test/Test.depend
Test/Test.cbp
Test/Test.layout
Example/obj
Example/bin
*.layout
*.depend
*.c~
*.cci
*.h~
*.hci
Example/Param-Test/obj/
Example/Str-Test/obj/Debug/
Examples/Str-Test/obj/
Examples/Str-Test/bin/
